<app-header titulo="{{'RECORDS.TITLE' | translate}}" color="azul"></app-header>

<ion-content class="ion-padding">
  <!-- <ion-row>
    <ion-col>
      <ion-slides mode="ios" pager="ios">
        <ion-slide>
          <img src="/assets/Banner_Pantalla_08.png" alt="">
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row> -->
  <ion-list>
    <ion-list-header color="azul">
      <ion-label>{{'RECORDS.SUBTITLE' | translate}}</ion-label>
    </ion-list-header>
    <ion-item *ngIf="!hayLlamadas" color="light" class="last-item">
      <ion-label>{{'RECORDS.NOCALLS' | translate}}</ion-label>
    </ion-item>
    <ion-item *ngFor="let user of callList; let i = index; let last = last" [ngClass]="{'last-item': last}" >
      <ion-label>
        <h2>{{user.name}} {{user.lastName}}</h2>
        <p>{{user.create.seconds*1000 | date: 'dd-MMM-YYYY'}}</p>
        <p>
          <ion-badge color="success" *ngIf="user?.CallStatus == 'completed'">{{ user?.CallStatus | titlecase }}</ion-badge>
          <ion-badge color="warning" *ngIf="user?.CallStatus != 'completed'">{{ user?.CallStatus | titlecase }}</ion-badge>
          <!-- <ion-badge color="danger" *ngIf="user?.CallStatus == ''">{{ user?.CallStatus | titlecase }}</ion-badge> -->
        </p>
      </ion-label>
      <ion-label slot="end">
        {{user?.minutos/60 | number : '1.2-2'}} min 
        <ion-icon *ngIf="user?.minutos/60 > 9" name="checkmark-circle-outline" color="success"></ion-icon>
        <ion-icon *ngIf="user?.minutos/60 < 9" name="ban-outline" color="danger"></ion-icon>
      </ion-label>
      <ion-button [routerLink]="['/call-detail',user.callId]" slot="end"  color="azul">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
