<app-header titulo="Acount Link" [color]="color"></app-header>

<ion-content class="ion-padding">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>Stripe Acount Link</ion-card-subtitle>
      <ion-card-title>{{'ACOUNTERROR.TITLE' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'ACOUNTERROR.CONTENT' | translate}}
    </ion-card-content>
    <ion-button routerLink="/acount-link" expand="block" color="naranja" >
      {{'ACOUNTERROR.BUTTON' | translate}}
    </ion-button>
  </ion-card>
</ion-content>
