<ion-header class="ion-no-border"  translucent>
  <ion-toolbar [color]="color">
    
    <ion-title class="ion-text-capitalize">{{'EDITPERFIL.TITLE' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">{{'EDITPERFIL.CLOSE' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <ion-card-content>
      <p>{{'HOME.CHANGETELTXT' | translate}}</p>
    </ion-card-content>
  </ion-card>
  <ion-grid fixed>
    <ion-row class="ion-padding">
      <ion-col size="12">
        <form [formGroup]="changeTelForm" (ngSubmit)="guardarTel()">
          <ion-item color="light">
            <ion-icon slot="start" name="call-outline" color="azul"></ion-icon>
            <!-- <ion-label position="floating">Telefono <ion-text color="danger">*</ion-text></ion-label> -->
            <ion-intl-tel-input    
              [formControl]="$any(changeTelForm).controls.tel" >
            </ion-intl-tel-input>
          </ion-item>
          
          <ion-button type="submit"  expand="block" [disabled]="changeTelForm.invalid">
            {{'EDITPERFIL.BUTTON' | translate}}
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>{{'HOME.CHANGETELALERT' | translate}}</ion-card-subtitle>      
    </ion-card-header>
  </ion-card>
</ion-content>
