<app-header titulo="{{'SUSPENDACOUNT.TITLE' | translate}}" [color]="color"></app-header>

<ion-content class="ion-padding">
  
  <form [formGroup]="suspendForm" (ngSubmit)="suspend()">
    <aw-wizard navBarLocation="bottom">
      <aw-wizard-step stepTitle="" >
        <div class="vertical-padding">
      
          <ion-grid fixed>
            <ion-row>
              <ion-col size="3" class="ion-no-padding position-relative">
                <!-- <div class="ion-text-left">
                  <p>Hola</p>
                  <h4>{{userPerfil?.name}} {{userPerfil?.lastName}}</h4>
                </div> -->
                <!-- <div class="ion-text-center">
                  <span class="text-muted ion-no-margin text-job ion-text-capitalize">{{userPerfil.role}}</span>
                </div> -->
                <!-- <ion-button fill="clear" class="button-vertical-align button-left">
                  <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
                </ion-button> -->
              </ion-col>
              <ion-col size="6">   
                <img *ngIf="userPerfil?.foto" [src]="userPerfil?.foto" class="image-round border-tertiary margin-top">
                <img *ngIf="!userPerfil?.foto" src="/assets/boy.png" alt="" class="image-round border-tertiary margin-top">
                <div class="ion-text-center">
                  <p>{{'SUSPENDACOUNT.HELLO' | translate}}</p>
                  <h4>{{userPerfil?.name}} {{userPerfil?.lastName}}</h4>
                </div>
              </ion-col>
              <!-- <ion-col size="4" class="ion-no-padding position-relative">
                <ion-button fill="clear" class="button-vertical-align button-right">
                  <ion-icon slot="icon-only" name="call"></ion-icon>
                </ion-button> 
              </ion-col> -->
            </ion-row>
          </ion-grid>
        
        </div>
        <ion-card mode="md" [ngClass]="_user.dataUser.role === 'cliente'? 'borde-improver': 'borde-speaker' ">
          <ion-card-title class="ion-text-center">{{'SUSPENDACOUNT.AREYOUSURE' | translate}}</ion-card-title>
          <ion-card-content>
            {{'SUSPENDACOUNT.LABELPASSWORD' | translate}}
          </ion-card-content>
          <ion-item color="light">
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-card>
        <ion-button  awNextStep [disabled]="f.password?.invalid">
          {{'SUSPENDACOUNT.AFTERBUTTON' | translate}}
        </ion-button>
      </aw-wizard-step>
  
      <aw-wizard-step stepTitle="">
        <ion-list  id="listaMenu" [ngClass]="_user.dataUser.role === 'cliente'? 'borde-improver': 'borde-speaker' ">
          <ion-list-header>
            <ion-label>{{'SUSPENDACOUNT.SUBTITLE' | translate}}</ion-label>
          </ion-list-header>
          <ion-radio-group formControlName="motivo" value="">
            <ion-list-header>
              <ion-label>{{'SUSPENDACOUNT.REASON' | translate}}</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>{{'SUSPENDACOUNT.REASON1' | translate}}</ion-label>
              <ion-radio slot="start" value="Ya no necesito el servicio"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{'SUSPENDACOUNT.REASON2' | translate}}</ion-label>
              <ion-radio slot="start" value="No me gusto el servicio"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{'SUSPENDACOUNT.REASON3' | translate}}</ion-label>
              <ion-radio slot="start" value="No estaré disponible un tiempo"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{'SUSPENDACOUNT.REASON4' | translate}}</ion-label>
              <ion-radio slot="start" value="otro"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-input *ngIf="suspendForm.value.motivo == 'otro'" type="text" placeholder="{{'SUSPENDACOUNT.REASON4' | translate}}"></ion-input>
          <ion-radio-group formControlName="referidos" value="">
            <ion-list-header>
              <ion-label>{{'SUSPENDACOUNT.HAVEREFERRALS' | translate}}</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>{{'SUSPENDACOUNT.REFERRALSYES' | translate}}</ion-label>
              <ion-radio slot="start" value="Si"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{'SUSPENDACOUNT.REFERRALSNO' | translate}}</ion-label>
              <ion-radio slot="start" value="No"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{'SUSPENDACOUNT.DONTKNOW' | translate}}</ion-label>
              <ion-radio slot="start" value="No se"></ion-radio>
            </ion-item>
          </ion-radio-group>  
          <ion-radio-group formControlName="minutos" value="">
            <ion-list-header>
              <ion-label>{{'SUSPENDACOUNT.HAVECALLS' | translate}}</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>{{'SUSPENDACOUNT.CALLSYES' | translate}}</ion-label>
              <ion-radio slot="start" value="Si"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{'SUSPENDACOUNT.CALLSNO' | translate}}</ion-label>
              <ion-radio slot="start" value="No"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{'SUSPENDACOUNT.DONTKNOW' | translate}}</ion-label>
              <ion-radio slot="start" value="No se"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        
        <ion-button awPreviousStep color="naranja">
          {{'SUSPENDACOUNT.RETURNBUTTON' | translate}}
        </ion-button>
        <ion-button block color="primary" type="submit" [disabled]="suspendForm.invalid">
          {{'SUSPENDACOUNT.SUSPENDBUTTON' | translate}}
        </ion-button>
      </aw-wizard-step>
    </aw-wizard>
    
    
  </form>
  
</ion-content>
