<app-header titulo="{{'WALLET.TITLE' | translate}}" color="naranja"></app-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-list-header color="naranja" class="ion-text-center">
          <ion-label>{{'WALLET.SUBTITLE' | translate}}</ion-label>
        </ion-list-header>
        <ion-item color="light" *ngIf="!hayPagos" class="last-item">
          <ion-label>{{'WALLET.NOPAYMENTS' | translate}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let pago of pagos; let last = last" [ngClass]="{'last-item': last}" color="light">
          <ion-label>
            <h5>{{'WALLET.AMOUNT' | translate}}</h5>
            <p>{{ pago.pagado | currency: 'USD'}}</p>
            
            <p>{{pago?.type}}</p>
            <p>{{'WALLET.LANGUEAGE' | translate}}: {{pago.lang | uppercase}}</p>
            
          </ion-label>
          <ion-label slot="end" class="ion-text-right"><p>{{pago.created.seconds*1000 | date: 'dd/MM/YYYY'}}</p></ion-label>
        </ion-item>
       
      </ion-list>
</ion-content>
