<ion-header>
  <ion-toolbar color="naranja">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"><ion-icon slot="icon-only" name="add"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title>{{"REGISTRO.TITLE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col size="6" offset="3" size-lg="3" size-md="4" size-sm="6" offset-md="4">
        <ion-img src="/assets/logo-login.png"></ion-img>
      </ion-col>
      <ion-col size="12" size-lg="4" size-md="6" size-sm="6" offsetMd="3" offsetLg="4">
        <form [formGroup]="registroForm" (ngSubmit)="registro('cliente')" novalidate>
          <ion-item color="light">
            <ion-icon slot="start" name="person-outline" color="naranja" ngbTooltip="{{'REGISTRO.NOMBRE' | translate}}" placement="end"></ion-icon>
            <!-- <ion-label >Nombre</ion-label> -->
            <ion-input type="text" [placeholder]="'REGISTRO.NOMBRE' | translate" [formControl]="$any(registroForm).controls.name"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.name.valid && registroForm.controls.name.dirty">
            <ion-label color="danger">{{'REGISTRO.NOMBRE' | translate}} is required</ion-label>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="person-add-outline" color="naranja"></ion-icon>
            <!-- <ion-label >Apellidos</ion-label> -->
            <ion-input type="text" [placeholder]="'REGISTRO.APELLIDOS' | translate" [formControl]="$any(registroForm).controls.lastName"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.lastName.valid && registroForm.controls.lastName.dirty">
            <ion-label color="danger">{{'REGISTRO.APELLIDOS' | translate}} is required</ion-label>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="male-female-outline" color="naranja"></ion-icon>
            <!-- <ion-label>Género</ion-label> -->
            <ion-select cancelText="{{'REGISTRO.GENDERCANCEL' | translate}}" multiple="false" [placeholder]="'REGISTRO.GENERO' | translate" interface="action-sheet" [formControl]="$any(registroForm).controls.gender">
              <ion-select-option value="hombre">{{'REGISTRO.GENDERMALE' | translate}}</ion-select-option>
              <ion-select-option value="mujer">{{'REGISTRO.GENDERFEMALE' | translate}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.gender.valid && registroForm.controls.gender.touched">
            <ion-label color="danger">{{'REGISTRO.GENERO' | translate}} is required</ion-label>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="calendar-outline" color="naranja"  ngbTooltip="{{'REGISTRO.CUMPLEANOS' | translate}}" placement="end"></ion-icon>
            <!-- <ion-label >Cumpleaños</ion-label> -->
            <input
              type="date"
              [formControl]="$any(registroForm).controls.birthDate"
              required="required" 
            />
            <span [attr.your-custom]="'REGISTRO.DATEPLACEHOLDER' | translate"></span>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.birthDate.valid && registroForm.controls.birthDate.touched">
            <ion-label color="danger">{{'REGISTRO.CUMPLEANOS' | translate}} is required</ion-label>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="call-outline" color="naranja"></ion-icon>
            <!-- <ion-label >Teléfono</ion-label> -->
            <ion-intl-tel-input
            
              [formControl]="$any(registroForm).controls.phone" >
            </ion-intl-tel-input>            
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.phone.valid && registroForm.controls.phone.touched">
            <ion-label color="danger" *ngIf="!registroForm.controls.phone.errors.reqired">{{'REGISTRO.TELEFONO' | translate}} is required</ion-label>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="id-card-outline" color="naranja" ngbTooltip="{{'REGISTRO.INTERESES' | translate}}" placement="end"></ion-icon>
            <ion-textarea [placeholder]="'REGISTRO.INTERESES' | translate" inputmode="text" [formControl]="$any(registroForm).controls.bio"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.bio.valid && registroForm.controls.bio.dirty">
            <ion-label color="danger">{{'REGISTRO.INTERESES' | translate}} is required</ion-label>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="time-outline" color="naranja"></ion-icon>
            <ng-moment-timezone-picker class="timeZone" [clearable]="true" [getUserZone]="true" customPlaceholderText="Select TimeZone" [config]="timezoneConfig" [formControl]="$any(registroForm).controls.timezone">
            </ng-moment-timezone-picker>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="mail-outline" color="naranja"></ion-icon>
            <!-- <ion-label >Email</ion-label> -->
            <ion-input [placeholder]="'REGISTRO.EMAIL' | translate" type="email" [formControl]="$any(registroForm).controls.email"></ion-input>
          </ion-item>          
          <ion-item *ngIf="!registroForm.controls.email.valid && registroForm.controls.email.dirty">
            <ion-label color="danger">{{'REGISTRO.EMAIL' | translate}} is required</ion-label>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="key-outline" color="naranja"></ion-icon>
            <!-- <ion-label >Contraseña</ion-label> -->
            <ion-input [placeholder]="'REGISTRO.CONTRASENA' | translate" type="password" [formControl]="$any(registroForm).controls.password"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.password.valid && registroForm.controls.password.dirty">
            <!-- <ion-label color="danger" *ngIf="!registroForm.controls.password.errors.reqired">{{'REGISTRO.CONTRASENA' | translate}} is required</ion-label> -->
            <ion-label color="danger" *ngIf="!registroForm.controls.password.errors.minLength">{{'REGISTRO.CONTRASENA' | translate}} minimum of 6 characters</ion-label>
          </ion-item>
          <ion-item (click)="openModal(term)" color="light" class="ion-margin-top item-term" >
            <ion-label>{{'ADDPLANS.TERMCONDI' |  translate}}</ion-label>
            <ion-checkbox  formControlName="termCond" ></ion-checkbox>
          </ion-item>
          <ion-item (click)="openModal(priv)" color="light" class="item-term" >
            <ion-label>{{'ADDPLANS.PRIVACY' |  translate}}</ion-label>
            <ion-checkbox  formControlName="privacidad" ></ion-checkbox>
          </ion-item>

          <ion-button routerLink="/login"  color="danger">
            {{"REGISTRO.CANCELAR" | translate}}
          </ion-button>
          <!-- <ion-button  awNextStep>
            {{"REGISTRO.SIGUIENTE" | translate}}
          </ion-button> -->
          <ion-button type="submit"  [disabled]="registroForm.invalid">{{"REGISTRO.REGISTRAR" | translate}}</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-template #term >
  <div class="modal-header" color="azul">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="current == 'es'">Términos y condiciones</h4>
    <h4 class="modal-title" id="modal-basic-title" *ngIf="current == 'en'">Terms and conditions</h4>
  </div>
  <div class="modal-body"  *ngIf="current == 'es'" >
    <p ngbAutofocus ><strong>Aviso legal:</strong></p>
    <div [innerHtml]=txtTerms.es></div>
    <button type="button" class="btn btn-outline-dark" (click)="closeModal('term')" *ngIf="current == 'es'" >Aceptar</button>
  </div>
  <div class="modal-body" *ngIf="current == 'en'">
    <p ngbAutofocus><strong>Legal:</strong></p>
    <div [innerHtml]=txtTerms.en></div>
    
    <button type="button" class="btn btn-outline-dark" (click)="closeModal('term')" *ngIf="current == 'en'">Acept</button>
  </div>
  <!-- <div class="modal-footer">
    
    
  </div> -->
</ng-template>

<ng-template #priv>
  <div class="modal-header" color="azul">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="current == 'es'">Aviso de privacidad</h4>
    <h4 class="modal-title" id="modal-basic-title" *ngIf="current == 'en'">This privacy policy</h4>
  </div>
  <div class="modal-body" *ngIf="current == 'es'">
    <h2 ngbAutofocus >Privacidad:</h2>
    <div [innerHtml]=txtPrivacy.es></div>
    
    <button type="button" class="btn btn-outline-dark" (click)="closeModal('priv')">Aceptar</button>
  </div>
  <div class="modal-body" *ngIf="current == 'en'">
    <h2 ngbAutofocus >Privacy:</h2>
    <div [innerHtml]=txtPrivacy.en></div>
    
    <button type="button" class="btn btn-outline-dark" (click)="closeModal('priv')">Acept</button>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal('priv')" *ngIf="current == 'es'">Aceptar</button>
    <button type="button" class="btn btn-outline-dark" (click)="closeModal('priv')" *ngIf="current == 'en'">Acept</button>
  </div> -->
</ng-template>

<ion-footer class="ion-no-border">
  <ion-toolbar color="azul">
    <ion-item slot="start" color="azul">
      <!-- <ion-label>Language</ion-label> -->
      <ion-select [value]="current" name="lang" interface="alert" (ionChange)="setLanguage($event)" placeholder="{{'MENU.LANGUAGE' | translate}}">
        <ion-select-option *ngFor="let item of listLang"
        [value]="item.lang">
        {{item.text}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-title class="ion-text-right" size="small" id="footerTitle">Language Fluency SAPI</ion-title>
  </ion-toolbar>
</ion-footer>