<ion-header>
  <ion-toolbar color="azul">
    
    <ion-title>{{'CALIFICALLAMADA.TITLE' | translate}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="headeRating">
    <div class="empty"></div>
    <div class="profileImg">
      <div *ngIf="user.foto" class="lf-profile-picture" [ngStyle]="{'background-image': 'url(' + user.foto + ')'}" ></div>
      <div *ngIf="!user.foto" class="lf-profile-picture" [ngStyle]="{'background-image': 'url(/assets/boy.png)'}"></div>
    </div>
    <!-- <div class="ion-text-center image-over-div">
      <img *ngIf="user.foto" [src]="user.foto" alt="" class="image-round ">
      <img *ngIf="!user.foto" src="/assets/boy.png" alt="" class="image-round ">
    </div> -->

    <div class="ion-text-center">
      <h4>{{user.name}} {{user.lastName}} </h4>
      <ion-chip color="success">
        <ion-label color="success">{{callStatus | titlecase}}</ion-label>
      </ion-chip>
      <p class="text-profile">
        {{user.bio}}
      </p>
      <p>{{'CALIFICALLAMADA.MEMBERSINCE' | translate}} {{user.creado | date: 'dd/MMM/YYYY'}} </p>
    </div>
    <ion-grid fixed class="">
      <ion-row class="ion-no-padding">
        <ion-col size="4" offset="2">
          <div class="ion-text-center">
            <span class="text-statics-big text-primary">{{min}} : {{seg}}</span> <br>
            <small class="text-primary">{{'CALIFICALLAMADA.DURATION' | translate}}</small>
          </div>
        </ion-col>
        <ion-col size="4" >
          <div class="ion-text-center">
            <span class="text-statics-big text-primary">1.5</span> <br>
            <small class="text-primary">Rating</small>
          </div>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>
  <!-- <div class="ion-text-center">
    <ion-chip color="success">
      <ion-label color="success">Default</ion-label>
    </ion-chip>
  </div> -->
  <!-- <ion-button (click)="contador()" expand="block" fill="clear" shape="round">
    Iniciar
  </ion-button>
  <ion-button (click)="stopContador()" expand="block" fill="clear" shape="round">
    Detener
  </ion-button> -->
  

  <div class="ion-padding" id="califica" *ngIf="callStatus == 'completed' && childCallStatus == 'completed'">
    <form [formGroup]="calificaForm" (ngSubmit)="calificar()" novalidate>
      <ion-item color="light">
        <ion-label slot="start">Fluency </ion-label>
        <ngb-rating formControlName="fluency"  [max]="5"  (rateChange)="changefl($event)">
          <ng-template let-fill="fill">
            <span [class.filled]="fill === 100" [class.notfilled]="fill === 0">
              <ion-icon name="custom-icono-speaker"></ion-icon>
            </span>
          </ng-template>
        </ngb-rating>
      </ion-item>
      <ion-item color="light">
        <ion-label slot="start">Pronunciation</ion-label>
        <ngb-rating  formControlName="pronunciation" [max]="5" (rateChange)="changepr($event)">
          <ng-template let-fill="fill">
            <span [class.filled]="fill === 100" [class.notfilled]="fill === 0">
              <ion-icon name="custom-icono-speaker"></ion-icon>
            </span>
          </ng-template>
        </ngb-rating>
      </ion-item>
      <ion-item color="light">
        <ion-label slot="start">Grammar</ion-label>
        <ngb-rating  formControlName="grammar" [max]="5" (rateChange)="changegr($event)">
          <ng-template let-fill="fill">
            <span [class.filled]="fill === 100" [class.notfilled]="fill === 0">
              <ion-icon name="custom-icono-speaker"></ion-icon>
            </span>
          </ng-template>
        </ngb-rating>
      </ion-item>
      <ion-item color="light">
        <ion-label slot="start">{{'CALIFICALLAMADA.TOTALPOINT' | translate}}  </ion-label>
        <ion-label><span *ngIf="avg > 0">{{avg | number : '1.2-2'}}</span> <ion-icon *ngIf="avg > 0" name="custom-icono-speaker" color="azul" id="iconAVG"></ion-icon></ion-label>
        <!-- <ngb-rating [rate]="avg"  formControlName="avg" [max]="5" [readonly]="true">
          <ng-template let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill"><ion-icon name="custom-icono-speaker"></ion-icon></span><ion-icon name="custom-icono-speaker"></ion-icon>
            </span>
          </ng-template>
        </ngb-rating> -->
      </ion-item>
      <ion-button type="submit" expand="block" color="azul" [disabled]="calificaForm.invalid">
        {{'CALIFICALLAMADA.RATEBTN' | translate}}
      </ion-button>
    </form>
  </div>

  <div class="ion-padding" *ngIf="callStatus == 'failed' || childCallStatus == 'failed' || childCallStatus == 'no-answer'">
    <div class="ion-text-center">
      <P>{{'CALIFICALLAMADA.ERRORTITLE' | translate}}</P>
      <p>{{'CALIFICALLAMADA.ERRORMESSAGE' | translate}}</p>

    </div>
    <ion-button (click)="intento()" type="submit" expand="block" color="danger">
      Ok
    </ion-button>
  </div>

</ion-content>