<app-header titulo="{{'COMMISSIONS.SUBTITLE' | translate}}" [color]="color"></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'COMMISSIONS.REFTOTAL' | translate}}</ion-card-title>
      <ion-card-subtitle>{{ comisionTotal/100 | currency: 'MXN' }}</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-item>
      <ion-label color="naranja">Ganancia total</ion-label>
      <ion-label color="azul">{{ 0 | currency }}</ion-label>
    </ion-item> -->
    <ion-item [color]="color">
      <ion-label>{{'COMMISSIONS.REFACTIVE' | translate}}</ion-label>
      <!-- <ion-label slot="end" class="ion-text-end">Activo</ion-label>       -->
    </ion-item>
    <ion-list>
      <ion-item color="light" *ngIf="!hayReferal">
        <ion-label>{{'COMMISSIONS.NOREFERALS' | translate}}</ion-label>
      </ion-item>      
      <ion-item color="light" detail  routerLink="/referral-detail/{{referal.uid}}" *ngFor="let referal of referals">
        <ion-label>
          <p>{{referal.LFId}}</p>
          <!-- <h2 *ngIf="referal?.tipo == 'price_1IiLcPFjLGC5FmHqDAZZskyw'">Plan Fluency 10/3 {{referal.language | uppercase}}</h2>
          <h2 *ngIf="referal?.tipo == 'price_1IiLr3FjLGC5FmHq8Z2z8pnq'">Plan +Fluency {{referal.language | uppercase}}</h2> -->
          <h2>Plan {{referal?.type}} {{referal.language | uppercase}}</h2>
          <p>{{referal.user?.name}}  {{referal.user?.lastName}}</p>
        </ion-label>
        <ion-icon slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-item [color]="color">
      <ion-label>{{'COMMISSIONS.REFPAYMENTS' | translate}}</ion-label>      
    </ion-item>
    <ion-card>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>{{'COMMISSIONS.REFTRANSACTION' | translate}}</th>
            <th>{{'COMMISSIONS.REFMOUNT' | translate}}</th>
            <th>{{'COMMISSIONS.REFCOMMISSION' | translate}}</th>
            <th>{{'COMMISSIONS.REFDATE' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!hayComision">
            <td colspan="4">
              {{'COMMISSIONS.NOCIMMISIONREFERAL' | translate}}
            </td>
          </tr>
          <tr *ngFor="let comission of comissions">
            <td>{{comission?.idTrans}}</td>
            <td>{{comission?.amount/100 | currency: 'MXN'}}</td>
            <td>{{comission?.comision/100 | currency: 'MXN'}}</td>
            <td>{{comission?.created.seconds*1000 | date}}</td>
          </tr>
        </tbody>
      </table>
    </ion-card>
  </ion-card>
</ion-content>
