<ion-header>
  <ion-toolbar [color]="fillUser">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"><ion-icon slot="icon-only" name="add"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title>{{"REGISTRO.TITLE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true">
  <ion-slides mode="ios" scrollbar="ios" class="mainSlide" #sliderRegistro>
    <ion-slide > <!--Seleccion de registro-->
      <ion-grid>
        <ion-row >
          <ion-col size="12" size-lg="3" size-md="4" size-sm="6" offset-md="4">
            <ion-item color="darck" lines="none">
              <ion-img src="/assets/logo-login.png"></ion-img>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding">          
          <ion-col size="12" size-lg="3" size-md="4" size-sm="6" offsetMd="4">
            <ion-row>
              <ion-col><h2 class="ion-text-center">{{"REGISTRO.SUBTITLE" | translate}}</h2></ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button routerLink="/registro-improver"  expand="block"  shape="round" color="naranja">
                  {{"REGISTRO.COOMOIMPROVER" | translate}}
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button routerLink="/registro-speaker"  expand="block"  shape="round" color="azul">
                  {{"REGISTRO.COMOSPEAKER" | translate}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    
  </ion-slides>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="azul">
    <ion-item slot="start" color="azul">
      <!-- <ion-label>Language</ion-label> -->
      <ion-select [value]="current" name="lang" interface="alert" (ionChange)="setLanguage($event)" placeholder="{{'MENU.LANGUAGE' | translate}}">
        <ion-select-option *ngFor="let item of listLang"
        [value]="item.lang">
        {{item.text}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-title class="ion-text-right" size="small" id="footerTitle">Language Fluency SAPI</ion-title>
  </ion-toolbar>
</ion-footer>